.snakemake/*
Database/*
Data/FastP/*
fasterq.tmp*
Data/NoHuman/*
Data/SingleM/*
Data/Metaphlan/*
Data/Kraken2/*
Data/MetaSPAdes/*
Data/Raw_FastQ/SRR*
Data/HUMAnN/*
Data/RGI/*
Data/AntiSMASH/*
localDB/*
Reports/*
fastp*
.DS_Store
.Rhistory
logs/*

# Keep this folder
!Data/Raw_FastQ/