.snakemake/*
Database/*
Data/FastP/*
fasterq.tmp*
Data/NoHuman/*
Data/SingleM/*
Data/Metaphlan/*
Data/MetaSPAdes/*
Data/Raw_FastQ/SRR*
Reports/*
fastp*
.DS_Store
.Rhistory
logs/*

# Keep this folder
!Data/Raw_FastQ/